<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Welcome to Recake</mat-card-title>
      <mat-card-subtitle>Web Applikasi Resep Kue</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://1.bp.blogspot.com/-_72emwM-7uE/XrPi-4DtFvI/AAAAAAAAG8Y/rByYTDh5MkcxFNZwMEcYRgT1057GYbggwCLcBGAsYHQ/s1600/aneka-resep-kue-kering-untuk-lebaran-2020-unik-dan-cantik.jpg" alt="Photo of a recake">
    <mat-card-content>
      <p>Resep kue diatas dapat anda lihat dibawah ini</p>
    
      <h3><b>Resep Kue Nastar</b></h3>
      <p>Bahan: 400 gram terigu protein sedang, 150 gram gula halus, 2 kuning telur, 300 gram margarin, 30 gram susu bubuk, Selai nanas secukupnya untuk isian, Keju parut secukupnya untuk taburan, 1 kuning telur, 1 sdt madu, 1 sdt minyak, 1 tetes pewarna kuning.</p>
      <p>Cara membuat: </p>
      <ol>
        <li>Campur bahan kecuali selai dan keju.</li> 
        <li>Aduk sampai kalis.</li> 
        <li>Ambil sedikit adonan, bulatkan dan pipihkan. </li>
        <li>Isi dengan selai nanas dan bulatkan lagi. </li>
        <li>Oles dengan campuran kuning telur. </li>
        <li>Taburi keju. </li>
        <li>Tata di atas loyang yang sudah diolesi dengan mentega. </li>
        <li>Oven kurang lebih 10 menit sambil sesekali dilihat agar tak hangus. </li>
      </ol>
      <h3><b>Resep Kue Putri Salju Keju</b></h3>
      <p>Bahan: 400 gram tepung terigu protein sedang, 100 gram tepung maizena, 3 butir kuning telur, 300 gram butter (boleh diganti Blue Band Cake dan Cookies), 40 gram susu bubuk, 150 gram keju cheddar parut, 120 gram gula halus, Gula halus secukupnya.</p>
      <p>Cara membuat: </p>
      <ol>
        <li>Kocok mentega, gula halus, dan kuning telur dengan mixer berkecepatan rendah selama 2 menit. </li>
        <li>Matikan mixer, kemudian masukkan keju parut dan aduk rata. </li>
        <li>Masukkan campuran terigu, tepung maizena, dan susu bubuk. </li>
        <li>Aduk rata dengan spatula sampai adonan cukup bisa diuleni. </li>
        <li>Cetak adonan sesuai selera, kemudian susun di loyang yang sudah diolesi margarin atau dialasi kertas roti. </li> 
        <li>Panggang putri salju dengan suhu 150 derajat Celcius hingga matang, kurang lebih 20 menit. </li>
        <li>Gulingkan putri salju pada gula donat secukupnya. Setelah dingin masukkan ke dalam toples. </li>
      </ol>
      <h3><b>Resep Kue Kastangel</b></h3>
      <p>Bahan: 300 gram menteg, 350 gram tepung terigu protein sedang, 300 gram keju parut, 50 gram tepung maizena, 2 sdm susu bubuk, 2 butir kuning telur. </p>
      <p>Cara membuat: </p>
      <ol>
        <li>Aduk tepung terigu, maizena, dan susu bubuk hingga merata, kemudian sisihkan. </li>
        <li>Kocok mentega menggunakan mixer hingga lembut, matikan mixer. </li>
        <li>Masukkan 200 gr keju parut ke dalam mentega, lalu aduk rata dengan spatula. </li>
        <li>Masukkan campuran tepung ke dalam adonan basah, sambil diayak, kemudian aduk rata. </li>
        <li>Letakkan adonan di atas talenan, kemudian gilas tipis dan cetak sesuai selera menggunakan cetakan kastengel. </li>
        <li>Susun kue di atas loyang, olesi permukaan dengan kuning telur, dan taburi keju secukupnya. </li>
        <li>Panggang kue dalam oven dengan suhu 130° C hingga kue kering terlihat kuning kecoklatan. </li>
      </ol>
      <h3><b>Resep Kue Kacang</b></h3>
      <p>Bahan: 250 gram kacang tanah sanggrai, 400 gram Terigu, 150 gram Gula halus, 1 sendok teh garam, 200 gram Minyak goreng, 2 sdm Butter Margarin (untuk polesan), 2 Buah kuning telur (untuk polesan).</p>
      <p>Cara membuat: </p>
      <ol>
       <li>Langkah pertama, tumbuk atau blender kacang tanah yang telah disangrai hingga menjadi halus. </li>
       <li>Dalam wadah lain campurkan bahan-bahan seperti gua halus, tepung terigu, kacang tanah, minyak goreng dan berikan garam kemudian aduk hingga merata. </li>
       <li>Lalu simpanlah dahulu adonan ini dalam lemari es selama kurang lebih 1 jam dengan ditutup menggunakan plastik wrap. </li>
       <li>Setelah didiamkan ambil adonan dan diamkan sementara dalam suhu ruangan kemudian adonan siap dicetak menggunakan cetakan kue sesuai selera. </li>
       <li>Ambil loyang yang telah dilumuri mentega dan tepung terigu kemudian tempatkan adonan kue dalam loyang , campurkan kedua bahan olesan kemudian berikan polesan sebelum dipanggang dibagian atasnya. </li>
       <li>Terakhir panggang dalam oven selama kurang lebih 25 menit dalam suhu 170 derajat celcius. Keluarkan dan angkat dari loyang dinginkan kemudian sajikan. </li>
      </ol>
      <h3><b>Resep Donat</b></h3>
      <p>Bahan: 500 gram tepung terigu protein tinggi, 100 gram gula pasir, 11 gram atau 1 bungkus ragi instan, 1/4 sdt baking powder, 1/2 sdt garam, 2 kuning telur, 100 gram mentega, 250 ml susu cair, Mentega, Cokelat yang sudah ditim.Meises cokelat, Selai, Gula halus.</p>
      <p>Cara membuat: </p>
      <ol>
        <li>Campur tepung terigu, gula, ragi instan, baking powder dan garam, aduk dengan tangan. </li>
        <li>Tambahkan kuning telur, uleni hingga berbentuk butiran halus. </li>
        <li>Tuangkan susu cair sedikit demi sedikit. Uleni hingga tercampur rata. </li>
        <li>4.Tambahkan mentega, uleni lagi dengan gerakan memutar, sesekali banting adonan. Lakukan hingga adonan licin dan kalis, kurang lebih 15 menit. </li>
        <li>Kumpulkan adonan menjadi satu dalam baskom. Tutupi dengan kain bersih, diamkan selama 1 jam. </li>
        <li>Tinju-tinju adonan hingga udara keluar dan adonan kempes. </li>
        <li>Bagi adonan menjadi 30 bagian, buat bulatan seperti bola. Diamkan lagi selama 10 menit. </li>
        <li>Lubangi masing-masing adonan, untuk hasil terbaik, lakukan dengan tangan. </li> 
        <li>Goreng donat dalam minyak panas menggunakan api kecil-sedang. Goreng satu bagian hingga menguning, lalu balik hingga semua bagian berwarna kuning keemasan. </li>
        <li>Angkat, tiriskan dan tunggu hingga dingin. Selanjutnya hias dengan toping sesuai selera. </li>
      </ol>
      <h3><b>Resep Red Velvet Cake Kukus</b></h3>
      <img src="https://www.puratos.co.id/content/dam/indonesia/images/products/Tegral%20Satin%20Cr%C3%A8me%20Cake%20Red%20Velvet.jpg/_jcr_content/renditions/original" border="4" style="width:500px;height:400px;" align="center"> 
      <p></p>
      <p>Bahan: 3 butir telur, 120 grm tepung terigu, 100 grm gula pasir, 1 bungkus susu Dancow putih, 1 bungkus SKM putih, 100 ml Minyak makan /minyak goreng, 1/4 SDM garam
        1 SDM Cacao coklat, 1 botol Vanili, 1/2 sdm sp, 1/4 SDM soda kue, Beberapa tetes pewarna makanan merah, Butter cream dan keju cheddar</p>
      <p>Cara membuat: </p>
      <ol>
        <li>Campur bahan kering tepung,cacao,susu Dancow, soda kue</li>
        <li>Mixer telor,gula dan sampai putih berjejak</li>
        <li>Lalu masukkan bahan kering sambil diayak lalu di aduk dengan spatula</li>
        <li>Bila sudah tercampur rata masukkan minyak makan/minyak goreng dan sedikit garam karna kita tdk memakai margarin</li>
        <li>Lalu aduk balik menggunakan spatula,masukkan susu kental manis aduk lagi lalu masukkan pewarna merah aduk balik</li>
        <li>Tuang di loyang yg telah di oles minyak makan lalu kukus selama 25-30 menit,tutup dengan kain bersih.. bila di tusuk tdk lengket berarti sudah matang</li>
        <li>Bila sudah matang masukkan kedalam freezer sampai dingin lalu belah dua cake oles butter cream di tengahnya lalu tumpuk..oles lagi butter cream di atasnya lalu larutkan keju,masukkan lagi kedalam kulkas sebentar lalu sajikan</li>
      </ol>
      <h3><b>Resep Cheese Cake</b></h3>
      <img src="https://www.resepmasakterbaru.com/wp-content/uploads/2020/09/resep-cheese-cake-lembut-empuk.jpg" border="4" style="width:500px;height:400px;" align="center">
      <p></p>
      <p>Bahan: 125 gram tepung terigu protein sedang, 200 gram margarin atau mentega, 100 gram susu bubuk, 450 gram cream cheese, 3 sdm tepung meizena, 220 gram gula pasir, 1/2 sdt garam, 6 butir telur ayam, 1 sdm cake emulsifier</p>
      <p>Cara membuat:</p>
      <ol>
        <li>Siapkan tepung terigu didalam sebuah wadah</li>
        <li>Tambahkan susu bubuk, tepung meizena, dan garam, lalu kocok sampai merata dan ayak</li>
        <li>Aduk cream cheese dengan margarin sampai kalis</li>
        <li>Kemudian gula pasir, telur,dan cake emulsifier dikocok di dalam wadah lain sampai kembang.</li>
        <li>Satukan tepung yang sudah tercampur tadi dengan cream cheese yang sudah dicampur juga, aduklah sampai rata.</li>
        <li>Masukkan adonan ke dalam sebuah loyang yang telah terolesi margarin atau teralasi kertas roti agar nantinya tidak menempel atau lengket, kemudian pangganglah dengan oven bersuhu sekitar180 derajat</li>
        <li>Tunggu sampai 45 menit hingga cake matang.</li>
        <li>Setalah matang, lalu angkat dan dinginkan.</li>
        <li>Cheese cake siap dinikmati!</li>
      </ol>
      <h3><b>Resep Black Forest Cake</b></h3>
      <img src="https://dapurkintamani.com/wp-content/uploads/2020/09/blackforest-cake-resep.webp" border="4" style="width:500px;height:400px;" align="center">
      <p></p>
      <p>Bahan: 8 kuning telur, 7 telur antero (telur utuh), 200 gr gula pasir halus, 15 gr cake emulsifier, 1 sdt vanilla, 100 gr terigu protein sedang, 25 gr maizena, 25 gr coklat bubuk, 15 gr susu bubuk full cream, 150 gr margarin/butter lelehkan, 1-2 sdm chocolate pasta black forest </p>
      <p>Cara membuat: </p>
      <ol>
        <li>Panaskan oven 180 derajat Celcius. Siapkan 3 buah loyang ukuran 24 cm, olesi dengan margarin/minyak oles loyang, alasi bawahnya dengan kertas roti/baking paper, olesi lagi dengan margarin/minyak oles loyang. Sisihkan.</li>
        <li>Kocok kuning telur, telur utuh, gula pasir dan cake emulsifier hingga mengembang dan kental berjejak.</li>
        <li>Masukkan campuran terigu, maizena, susu bubuk dan vanilla yang sudah diayak secara bertahap. Aduk balik dengan spatula atau mixer kecepatan rendah sampai tercampur rata.</li>
        <li>Masukkan margarin/butter leleh dan chocolate pasta black forest. Aduk balik dengan spatula hingga benar-benar tercampur rata dan homogen.</li>
        <li>Tuang ke dalam 3 buah loyang yang sudah disiapkan dengan sama rata.</li>
        <li>Panggang dalam oven sampai matang, sekitar 25 menit hingga permukaannya tidak lengket dan membal saat disentuh.</li>
        <li>Keluarkan dari oven, segera keluarkan dari loyang dan dinginkan.</li>
      </ol>
      <h3><b>Resep Pancake</b></h3>
      <img src="https://akcdn.detik.net.id/community/media/visual/2020/07/01/pancake-amerika-2.jpeg?w=700&q=90" border="4" style="width:500px;height:400px;" align="center">
      <p></p>
      <p>Bahan: 225 g tepung terigu protein sedang, 2 sdt baking powder, 1/2 sdt garam, 1 sdt gula pasir, 2 butir telur ayam yang besar, 30 g mentega tawar lelehkan, 300 ml susu cair, mentega untuk olesan, Potongan buah segar (strawberry, apel, pisang) untuk pelengkap, Madu/sirop maple</p>
      <p>Cara membuat: </p>
      <ol>
        <li>Campur tepung terigu dengan baking powder, garam dan gula dalam mangkuk. Aduk rata.</li>
        <li>Kocok telur hingga berbuih, tambahkan mentega cair dan susu.</li>
        <li>Buat cerukan dalam tepung, tuangkan campuran telur sedikit demi sedikit sambil aduk dengan kocokan kawat hingga licin.</li>
        <li>Diamkan adonan selama 15 menit.</li>
        <li>Panaskan wajan datar, olesi sedikit mentega.</li>
        <li>Tuangkan 1 sendok sayur adonan ke atas wajan. Masak hingga permukaannya berlubang kecil. Balikkan pancake, masak sebentar lalu angkat.</li>
        <li>Kerjakan yang sama dengan sisa adonan.</li>
        <li>Sajikan pancake hangat dengan Pelengkap sesuai selera.</li>
      </ol>
      <p>Tips: </p>
      <ol>
        <li>Jika memakai double acting baking powder kurangi takarannya menjadi 1 sdt saja.</li>
        <li>Sebaiknya diamkan beberapa saat adonan pancake sebelum dimasak agar adonan lebih lembut.</li>
        <li>Setiap kali akan menuangkan adonan ke dalam wajan, jangan lupa aduk-aduk dulu agar merata.</li>
      </ol>
      <h3><b>Resep Pie Susu</b></h3>
      <img src="https://www.unileverfoodsolutions.co.id/dam/global-ufs/mcos/SEA/calcmenu/recipes/ID-recipes/desserts-&-bakery/milk-pie/main-header.jpg" border="4" style="width:500px;height:400px;" align="center">
      <p></p>
      <p>Bahan Crust: 100 gram tepung terigu, 50 gram mentega/margarine , 1 sachet susu kental manis atau bisa diganti 2 sendok gula halus </p>
      <p>Bahan Filling:1 butir telur ayam, 1 sdt munjung tepung maizena, 1 sachet Susu Kental Manis, 2 sdm gula pasir, 1 sachet vanili, 2 sdm air</p>
      <p>Cara membuat: </p>
      <ol>
        <li>Siapkan bahan pie Crust. Campur rata semua bahan pie crust. Ulen menggunakan sendok atau spatula, bisa pakai tangan tpi jangan lama" kalo kelamaan pakai tangan nanti keras. Campur sampai adonan bisa dibulatkan</li>
        <li>Pindah adonan ke teflon dan pipihkan membentuk permukaan teflon. Usahakan ketebalannya sama. Jika sudah tusuk" adonan menggunakan garpu agar cepat matang. Oiya saya pakai loyang ukur 18, yg lebarnya cuma satu kilan.</li>
        <li>Alasi tatakan kompor dengan seng atau tutup kaleng. Jika tidak punya gunakan api kecil sekali (hampir mati) untuk memanggang pie. Jika sudah panggang crust pie sekitar 10 menit,jangan lupa tutup teflonnya</li>
        <li>Sambil menunggu crust agak kering, siapkan bahan Filling.</li>
        <li>Dalam wadah larutkan tepung maizena dengan 2 sdm air. Masukan telur,gula,susu, dan vanili. Kocok sampai gula larut,jika kurang manis bisa ditambahkan gula.</li>
        <li>Setelah 10 menit memanggang crust masukan Filling pie. Agar Filling mulus bisa disaring.</li>
        <li>Tutup teflon dan tunggu sekitar 30 menit atau sampai fillingnya set kalau ditusuk tidak lengket. Oiya sesekali cek kalau filling bergelembung tusuk saja. Pie Susu siap dinikmati</li>
      </ol>

    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  
