<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Welcome to Recake</mat-card-title>
      <mat-card-subtitle>Web Applikasi Resep Kue</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://1.bp.blogspot.com/-_72emwM-7uE/XrPi-4DtFvI/AAAAAAAAG8Y/rByYTDh5MkcxFNZwMEcYRgT1057GYbggwCLcBGAsYHQ/s1600/aneka-resep-kue-kering-untuk-lebaran-2020-unik-dan-cantik.jpg" alt="Photo of a recake">
    <mat-card-content>
      <p> Web Aplikasi ini dibuat untuk memenuhi tugas akhir teknologi web lanjut. 
        Recake adalah sebuah web aplikasi yang menyediakan berbagai macam resep kue. Disini anda dapat menemukan beragam resep kue, mulai dari resep kue kering, kue tradisional, kue lebaran, dan resep kue lainnya. 
        Pada web aplikasi ini anda juga dapat berbagi inspirasi mengenai resep kue. Karena pada web aplikasi ini anda dapat menambahkan resep ataupun mengunduh resep yang telah tersedia. 
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  
